.control-container {
  background-color: #b7b7b7;
  min-height: 180px;
  height: 180px;
  color: white;
  display: flex;
  flex-flow: column;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.no-song-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.no-song-title {
  font-family: "Lato", sans-serif;
  font-size: 22pt;
  margin: 0 auto 15px auto;
  width: 70%;
  text-align: center;
}

.no-song-text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.track-album-image {
  margin: 12px;
  width: 125px;
  height: 125px;
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: 1px 1px 5px 1px #0001;
}

.track-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.track-title {
  font-size: 22pt;
  margin:0;
}

.track-artist, .track-album {
  font-size: 18px;
  display: block;
}

.track-info {
  flex-grow: 1;
}

.progress-bar {
  flex-grow: 0;
  flex-shrink: 0;
  height: 5px;
}

.obscurateur {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

.obscurateur-content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.black-filter {
  /*display: flex;*/
  background-color: black;
  opacity: 60%;
}

.control {
  /*visibility: hidden;*/
  flex-grow: 1;
  /*display: none;*/
  justify-content: center;
}

.artwork-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  /* An image is set in style */
  filter: blur(8px) opacity(.7);
  transform: scale(1.1); /* HACK: Don't blur edge with white */
}

/* HACK: Hide blur outside of background*/
.blurry-artwork-background-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  overflow: hidden;
}

.artwork-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  /*z-index: -1;*/
  overflow: hidden;
  background-color: #000000;
  opacity: 0.6;
}

.artwork-img {
  width: 100%;
}
