<!-- Can navigate if there is no status. Maybe it's ok :| Potentially server is down-->
<div *ngIf="mpdService.mpdDataState | async as status; else loading" class="control-container" appNavigationTrigger>
  <!-- Blurry background -->
  <div class="blurry-artwork-background-wrapper">
    <div class="artwork-background" *ngIf="mpdService.mpdLastDataAlbumArt | async as artwork">
      <img *ngIf="artwork != null" [src]="'data:image/jpg;base64,' + artwork | safeHtml" alt="echec :("/>
    </div>
  </div>
  <!-- Control -->
  <div class="obscurateur black-filter" (click)="toggleControl()" [@fade]="controlMode ? 'show' : 'hidden'">
    <div class="obscurateur-content">
      <!-- Go back -->
      <span > <fa-icon [icon]="stepBackward" [size]="'3x'" (click)="clickPrevious()"></fa-icon> </span>
      <!-- Start / Pause -->
      <span >
        <fa-icon [icon]="status.state === 'play' ? pause : play"
                 (click)="clickPlay($event, status.state)"
                 [size]="'3x'"></fa-icon>
      </span>
      <!-- To next -->
      <span > <fa-icon [icon]="stepForward" [size]="'3x'" (click)="clickNext()"></fa-icon> </span>
    </div>
  </div>
  <!-- Track informations -->
  <div class="track-wrapper" (click)="toggleControl()">
    <ng-container *ngIf="mpdService.mpdDataCurrentTrack | async as currentTrack; else noSong">
      <ng-container *ngIf="mpdService.mpdLastDataAlbumArt | async as artwork; else defaultArtwork">
        <img *ngIf="artwork != null" class="track-album-image" [src]="'data:image/jpg;base64,' + artwork | safeHtml" alt="echec :("/>
      </ng-container>
      <ng-template #defaultArtwork>
        <!-- NO RESPECT ! I get it directly from iconninja server -->
        <img class="track-album-image" src="https://www.iconninja.com/files/443/719/777/disk-dvd-cd-empty-gray-blank-save-disc-icon.png" alt=""/>
      </ng-template>
      <div class="track-info">
        <h1 class="track-title">{{currentTrack.title}}</h1>
        <span class="track-artist">{{currentTrack.artist}}</span>
        <span class="track-album">{{currentTrack.album}}</span>
      </div>
    </ng-container>
    <!-- No song; display tuto -->
    <ng-template #noSong>
      <div class="no-song-wrapper">
        <h1 class="no-song-title">Aucune piste en cours</h1>
        <p class="no-song-text">Faites  glisser cet écran vers le bas pour commencer</p>
      </div>
    </ng-template>
  </div>

  <!-- Progress bar ^^ -->
  <app-progress-bar class="progress-bar"
      [total]="status.duration"
      [progress]="status.elapse"
      [control]="controlMode"
  ></app-progress-bar>
</div>
<ng-template #loading>Chargement...</ng-template>
