<span [ngClass]="{'time': true, 'control': true, 'show-control': control}">{{progress | time}}</span>
<svg class="svg-container">
  <rect x="0" y="0" width="100%" height="100%" />
  <rect *ngIf="progress" x="0" y="0" [attr.width]="progress / total * 100 + '%'" height="100%" style="fill:rgb(255,0,0)"></rect>
  <circle r="6" cy="3" *ngIf="progress"
          [attr.cx]="progress / total * 100 + '%'"
          [ngClass]="{'control': true, 'show-control': control}"
          style="fill:rgb(255,0,0)"
  ></circle>
</svg>
<span [ngClass]="{'time total-time': true, 'control': true, 'show-control': control}">{{total | time}}</span>
