.svg-container {
  width: 100%;
  height: 5px;
  position: absolute;
  overflow: visible;
}

.control {
  visibility: hidden;
}

.show-control {
  visibility: visible;
}

.time {
  display: block;
  position: absolute;
  top: 135px;
  margin: 8px;
  background-color: black;
  padding: 5px 10px;
  border-radius: 15px;
  font-family: "Lato", sans-serif;
  font-size: 8pt;
}

.total-time {
  right: 10px;
}
