<div class="page-title" appNavigationTrigger>Paramètres</div>

<div class="page-content">
  <div *ngIf="mpdService.mpdDataState | async as status;" class="parameter-wrapper">
    {{status | json}}
    <mat-slider class="volume-slider" [value]="status.volume" (change)="setVolume($event)"></mat-slider>

    <label>Add an URI</label>
    <input [(ngModel)]="queryUri">
    <button type="button" (click)="sendQuery()">Add Uri</button>
    <button type="button" (click)="clearQueue()">Clear queue</button>
  </div>
</div>
