<div class="arianne-container" >
<!--  <arianne-directory [@select]="selectedDir === 0 ? 'hover' :-->
<!--                                currentDirIndex === 0 ? 'selected' :-->
<!--                                'unselected'" (click)="navigateTo(0)" [id]="0">root/</arianne-directory>-->
  <ng-container *ngIf="parsedPath">
    <!-- i = 0 is for root dir, so we start at 1 -->
    <div class="to-left">
      <arianne-directory [id]="i" (click)="navigateTo(i)"
            *ngFor="let dir of parsedPath.slice(0, parsedPath.length-1); let i = index">
        {{dir}}/
      </arianne-directory>
    </div>
    <arianne-directory class="center"
      [id]="parsedPath.length - 1" (click)="navigateTo(parsedPath.length)"
                       [@select]="parsedPath.length - 1 === selectedDir ? 'hover' :
                                 parsedPath.length - 1 === currentDirIndex ? 'selected' :
                                'unselected'">
      {{parsedPath[parsedPath.length-1]}}/
    </arianne-directory>
    <span class="right"></span>
  </ng-container>
</div>
