:host {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  display: block;
  font-size: 12pt;
  position: absolute;
}

.to-left {
  padding: 10px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  overflow: scroll;
}

.right {
  flex: 1;
}

.center {
  color: black;
  position: relative;
  padding: 10px;
  margin: 0 10px;
}

.arianne-container {
  display: flex;
}

.fade-out-overlay {
  background: linear-gradient(90deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 73%, rgba(255,255,255,1) 100%),
      linear-gradient(270deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 77%, rgba(255,255,255,1) 100%);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}

arianne-directory {
  white-space: nowrap;
}

#arianne-scrollable {

}
