.search-input {
  border: None;
  padding: 0;
  height: 25pt;
  flex-grow: 1;
  flex-shrink: 0;
}

.token-selector {
  display: block;
  position: fixed;
  z-index: 3;
  margin: 0 40px;
  background: #f8f8f8;
  padding: 12px;
  border-radius: 0 0 15px 15px;
  box-shadow: -3px 3px 5px #0000001c;
}

.token {
  margin: 5px;
  padding: 3px;
  flex-grow: 0;
  flex-shrink: 0;
}

.search {
  display: flex;
  flex-wrap: wrap;
}
