<div class="search-header">
  <div class="search">
    <ng-container *ngFor="let token of tokens">
      <span class="token" [style.backgroundColor]="token.operation.color">
        {{token.value}}
      </span>
    </ng-container>
    <input class="search-input" [(ngModel)]="query" #searchInput
           (keyup)="changeFilter($event)"
           (focus)="showAutocomplete = true"
           (blur)="showAutocomplete = false"
           placeholder="Recherche">
  </div>
  <div class="token-selector" *ngIf="showAutocomplete">
    <div class="token-selector-line" *ngFor="let token of possibleChoice"
         (mousedown)="addSelectedToken($event, token)"
    >{{token}}</div>
  </div>
</div>
