<!--The content below is only a placeholder and can be replaced.-->
<div class="">
  <main class="">
    <div class="">
      <app-toaster></app-toaster>
      <app-navigation></app-navigation>
      <!-- Your content goes here -->
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
