:host {
  display: block;
  z-index: 0;
}

.flex-container {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: 70px auto 70px;
  border-bottom: 1px solid #e0e0e0;
  min-height: 55px;
}

.item-position {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 32px;
  font-weight: 200;
  min-width: 50px;
  margin-left: 15px;
  vertical-align: super;
}

.item-track {
  flex-grow: 1;
  margin-left: 3px;
}

.item-duration {
  font-size: 15pt;
  padding-right: 15pt;
  font-weight: 200;
}

.page-title {
  margin: 0;
  font-size: 32pt;
  font-weight: normal;
  font-family: 'Raleway', 'Roboto', sans-serif;
}

.titre {
  margin: 0;
  font-size: 12pt;
}

.artist, .album {
  display: block;
  margin: 0;
  font-size: 10pt;
  font-weight: 200;
  font-family: 'Raleway', 'Roboto', sans-serif;
}

.emphasized {
  background-color: #dcdcdc;
}
