<div class="flex-container" [ngClass]="{'emphasized': emphasize}">
  <div class="item-position" *ngIf="track.pos != null">
    <span class="item-position">{{track.pos + 1}}</span>
  </div>
  <div class="item-track">
    <h1 class="titre">{{track.title}}</h1>
    <span class="artist">{{track.artist}}</span>
    <span class="album">{{track.album}}</span>
  </div>
  <div class="item-duration">
    <p class="duration" style="margin: 0;">{{track.time | time }}</p>
  </div>
</div>
