<div class="menu" [ngClass]="{'show':showMenu}">
  <!-- Selection zone -->
  <div class="menu-selector" #menuSelector>
    <div class="menu-wheel" #menuWheel>
      <span class="menu-item"
        *ngFor="let menuItem of menuItems; let i = index"
        [@select]="selectedItem === i ? 'selected' : 'unselected'"
      >{{menuItem.name}}</span>
    </div>
  </div>
  <!-- Cancel zone -->
  <div class="menu-cancel" [ngClass]="{'show':showMenu}">
    <span>Annuler</span>
  </div>
</div>
