.menu-selector {
  position: fixed;
  top: 0;
  height: 60%;
  width: 100%;
  z-index: 200;
  background-color: black;
  color: whitesmoke;
  font-size: 18pt;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none
}

.select-menu {
  color: orange;
}

.menu-cancel {
  position: fixed;
  bottom: 0;
  height: 40%;
  width: 100%;
  z-index: 201;
  background-color: whitesmoke;
  color: black;
  font-size: 32pt;
  opacity: 0.8;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.menu {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.menu-item {
  user-select: none
}

.menu-wheel {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
