.file-container {
  margin-top: 15px;
}

.mat-card {
  margin: 5px;
  padding: 0;
}

.card-left-avatar {
  display: inline-block;
  font-size: 3rem;
  vertical-align: middle;
  /* padding: 0 5px 0 10px; */
}

.dir {
  background-color: #cccca5;
  border-right: 1px solid #b7b7b7;
}

.song {
  background-color: #a5ccb9;
  border-right: 1px solid #b7b7b7;
}

.mat-card p {
  display: inline-block;
  padding: 0;
  padding-left: 15px;
  font-size: larger;
}

.card-left-avatar .mat-icon {
  height: 36px;
  width: 36px;
  margin: 10px;
  font-size: 0.8em;
  border-radius: 100%;
  padding: 10%;
}

.card-body {
  display: inline-block;
  max-width: calc(100% - 72px);
}


.file-wrapper {
  position: relative;
  /*background-color: white;*/
  z-index: 0;
}

.file-command-add {
  font-size: 8pt;
}

.search-in-file {
  width: 100%;
  margin: 20px 0 0 0;
  padding: 0;
  border: 0;
  height: 30px;
  background-color: aliceblue;
}
