<div class="page-title" appNavigationTrigger>Fichier</div>

<div class="page-content">
  <app-arianne [path]="currentPath" (navigate)="browseTo($event)"></app-arianne>
  <br>
  <input [(ngModel)]="search" class="search-in-file"/>
  <div *ngIf="mpdService.mpdDataBrowse | async | filterfile : search as files; else noDirectories" class="file-container">
    <div class="file-wrapper" *ngFor="let file of files; trackBy:getFileUri">
      <app-file [file]="file" (click)="browseOrAdd(file)" swipable="60px"></app-file>
      <div class="file-control" (click)="mpdService.addUri(file.directory)">
        <fa-icon [icon]="faAdd" [size]="'2x'" class="file-command-add"></fa-icon>
      </div>
    </div>
  </div>
  <ng-template #noDirectories>No directories</ng-template>
</div>
