/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: 'Raleway','Roboto', sans-serif }

.page-title {
  width: 100%;
  height: 90px;
  font-size: 32pt;
  color: #f2f2f2;
  background-color: #525252;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
}

.page-content {
  top: 90px;
  position: absolute;
  width: 100%;
}

app-file {
  display: block;
}

.file-control {
  position: absolute;
  height: 100%;
  width: 60px;
  background-color: #36bef4;
  right: 0;
  top: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
