<div class="page-title" appNavigationTrigger>Recherche</div>

<div class="page-content">
  <!-- Champs recherche -->
  <app-search-input></app-search-input>

  <!-- Liste des résultats -->
  <div *ngIf="mpdService.mpdDataSearch | async as tracks; else loading">
      <ng-container *ngIf="tracks.length; else noItems">
        <span class="label search-label">Résultat</span>
        <ng-container *ngFor="let track of tracks">
          <mpd-track [track]="track" (click)="mpdService.addUri(track.file)"></mpd-track>
        </ng-container>
      </ng-container>
    <ng-template #noItems>Aucun resultat</ng-template>
  </div>
  <ng-template #loading>Rechercher quelque chose...</ng-template>
</div>
