.search-header {
  top: 200px;
  width: 100%;
  position: sticky;
  background-color: #f2f2f2;
}

.label {
  display: block;
  position: sticky;
  top: 90px;
  z-index: 0;
  padding: 5px 5px 5px 25px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e7e7e7;
  /*font-size: 28pt;*/
}

.search-label {

}
