<div class="file-container">
  <ng-container *ngIf="file.type === 'file'" >
    <fa-icon [icon]="faDirectory" [size]="'lg'"></fa-icon><span class="file-name">{{file.directory | filename }}</span>
  </ng-container>
  <ng-container *ngIf="file.type === 'track'" >
    <fa-icon [icon]="faSong" [size]="'2x'" class="track-icon"></fa-icon><span class="track-name">{{file.file | filename }}</span>
  </ng-container>
</div>
