.file-container {
  margin: 0;
  border-bottom: 1px solid rgb(236 236 236);
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: white;
}

.file-name {
  padding: 5px 25px;
}

.track-name {
  padding: 5px 25px 5px 80px;
  background-color: rgb(238,238,238);
  border-radius: 20px 50px 50px 20px;
  display: inline-block;
  z-index: 1;
  position: relative;
  width: 100%;
}

.track-icon {
  display: inline-block;
  width: 15px;
  z-index: 73;
  position: relative;
}
