:host {
  display: block;
}

.center {
  font-size: 11pt;
  margin: 15px auto;
  width: 50%;
}

.label {
  display: block;
  position: sticky;
  top: 180px;
  z-index: 10;
  padding:2px;
  padding-left: 25px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e7e7e7;
  font-size: 10pt;
}

.track-container {
  position: relative;
  z-index: 0;
}

.swipable-track {
  z-index: 2;
  position: relative;
  background-color: #f7f7f7;
}

.track-controls {
  position: absolute;
  height: 100%;
  width: 120px;
  background-color: #fafafa;
  right: 0;
  top: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-control {
  height: 100%;
  flex-grow: 1;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.track-control.swipe {
  background-color: cornflowerblue;
}

.track-control.delete {
  background-color: #f44336;
}

.song-list {
  margin-top: 180px;
}
