<app-control></app-control>
<div *ngIf="mpdService.mpdDataQueue | async as tracks; else loading" cdkDropList (cdkDropListDropped)="drop($event)"
     class="song-list">
  <ng-container *ngIf="mpdService.mpdDataCurrentTrack | async as currentTrack; else allTracks">
    <ng-container *ngIf="tracks.length; else noItems">

        <ng-container *ngFor="let track of tracks">
          <span *ngIf="track?.pos === 0" class="label before-label">Précédents</span>
          <span *ngIf="currentTrack.id ===track.id" class="label before-label">En cours</span>
          <span *ngIf="track?.pos === currentTrack?.pos + 1" class="label before-label">Précédents</span>
          <div class="track-container" cdkDrag>
            <div class="swipable-track" swipable="120px">
              <mpd-track [track]="track" (click)="mpdService.playTrack(track.pos)" [emphasize]="currentTrack.id ===track.id"></mpd-track>
            </div>
            <div class="track-controls">
              <div class="track-control delete">
                <fa-icon [icon]="faTrash" [size]="'2x'" (click)="mpdService.deleteFromQueue(track)"></fa-icon>
              </div>
              <div class="track-control swipe">
                <fa-icon [icon]="faDrag" [size]="'2x'" [rotate]="90" cdkDragHandle></fa-icon>
              </div>
            </div>
          </div>
        </ng-container>

    </ng-container>
  </ng-container>
  <ng-template #allTracks>
    <ng-container *ngIf="tracks.length; else noItems">
      <span class="label before-label">Pistes</span>
      <ng-container *ngFor="let track of tracks">
        <div class="swipable-track" swipable="120px">
          <mpd-track [track]="track" (click)="mpdService.playTrack(track.pos)" [emphasize]="false"></mpd-track>
        </div>
        <div class="track-controls">
          <div class="track-control delete">
            <fa-icon [icon]="faTrash" [size]="'2x'" (click)="mpdService.deleteFromQueue(track)"></fa-icon>
          </div>
          <div class="track-control swipe">
            <fa-icon [icon]="faDrag" [size]="'2x'" [rotate]="90" cdkDragHandle></fa-icon>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-template>
</div>
<ng-template #noItems><p class="center">Aucune piste n'a été ajouté</p></ng-template>
<ng-template #loading><p class="center">Chargement...</p></ng-template>

<!-- Template for one track with swipe -->
<!--<ng-template #trackWithSwipe let-track="track" let-emphase="emphase">-->
<!--  <div class="swipable-track" swipable="120px">-->
<!--    <mpd-track [track]="track" (click)="mpdService.playTrack(track.pos)" [emphasize]="emphase"></mpd-track>-->
<!--  </div>-->
<!--  <div class="track-control">-->
<!--    <fa-icon [icon]="faTrash" [size]="'2x'" (click)="mpdService.deleteFromQueue(track)"></fa-icon>-->
<!--    <fa-icon [icon]="faDrag" [size]="'2x'" cdkDragHandle></fa-icon>-->
<!--  </div>-->
<!--</ng-template>-->
